<div class="container ">
    <div class="card">
        <div class="card-header ">

            <header>Login Form</header>
        </div>
        <div class="card-body col-md-12">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input id="name" name="name" class="form-control" formControlName="name" />
                            <div *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched">
                                <small class="text-danger">Name is required.</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="dob">DOB:</label>
                            <input id="dob" type="date" name="dob" class="form-control" formControlName="dob" />
                            <div *ngIf="userForm.get('dob')?.invalid && userForm.get('dob')?.touched">
                                <small class="text-danger"> DOB is required.</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address">Address:</label>
                            <textarea id="address" name="address" class="form-control"
                                formControlName="address"></textarea>
                            <div *ngIf="userForm.get('address')?.invalid && userForm.get('address')?.touched">
                                <small class="text-danger"> Address is required and should not contain special
                                    characters.</small>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Submit</button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>